# Ollama Configuration
OLLAMA_MODEL=llama3.2

# HuggingFace Embedding Model
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Chroma Vector Database
CHROMA_DB_PATH=db

# PDF Folder
PDF_DIRECTORY=data/pdfs

# Number of retrieved chunks
TOP_K=10